<h1>タスク編集</h1>
<% if @task.errors.any? %>
  <div>
    <ul style="color: red">
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for(@task) do |f| %>
  <div><%= f.label :title %></div>
  <div><%= f.text_field :title,class: "text" %></div>
  <div><%= f.label :content %></div>
  <div><%= f.text_field :content,class: "text" %></div>
  <div><%= f.submit '修正する', class: "btn-primary" %></div>
<% end %>
<%= link_to '戻る', tasks_path %>